<div class='dot-separator'>
    <svg height="10" width="54">
      <circle cx="9" cy="5" r="2" fill="black" />
      <circle cx="27" cy="5" r="2" fill="black" />
      <circle cx="45" cy="5" r="2" fill="black" />
    </svg>
</div>


{% style %}
    .dot-separator {
        display: flex;
        justify-content: center;
        padding: 16px;
    }
{% endstyle %}