{% assign mobile-only = dot-separator %}
<div class='dot-separator{% if mobile-only == true %} mobile-only{% endif %}'>
    &nbsp;
</div>


{% style %}
    .dot-separator {
        display: flex;
        justify-content: center;
        height: 16px;
        margin: 8px 0;
    }
{% endstyle %}