{% assign title = filtered-product-title | split: '' %}

{% assign checkForId = title | split: 'ID' %}
{% if title[0] == 'I' and title[1] == 'D' %}
  {% for char in title %}
    {% if char == '-' or char == ' '%}
      {% assign product_id = title | slice: 0, forloop.index0 %}
      {% assign title = title | slice: forloop.index, title.size %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}
{% if product_id %} <span class='product-id'>{{product_id}}</span><br> {% endif %}{{ title }}
  