{% assign paginate = pages %}

<div class='pages'>
    {% for part in paginate.parts %}
      {% if part.title == paginate.current_page -%}
        <div class='page current'>{{ part.title | link_to: part.url }}</div>
      {% elsif part.is_link %}
        <div class='page'>{{ part.title | link_to: part.url }}</div>
      {%- else -%}
        <span> - </span>
      {% endif %}
    {% endfor %}
  </div>

  {% style %}
    .pages {
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .pages .page a, .pages span {
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
        display: inline-block;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        width: 2.4rem;
        height: 2.4rem;
        font-size: 1.2rem;
        text-decoration: none;
        border: solid 3px #1E1E1E;
        line-height: 2.5rem;
        text-align: center;
        color: black;
        margin: 0 8px;
    }

    .pages span {
        border: solid 3px #fff;
        margin: 0;
    }

    .pages .page.current a {
        color: white;
        background-color: #1E1E1E;
    }
  {% endstyle %}