<div class='categories-section'>
    VIEW ALL CATEGORIES
</div>

{% schema %}
{
    "name": "Categories",
    "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}