<div class='nav_bar'>
    <a onclick="toggleNav(this)" class="menu">
        <div class="menu_burger"></div>
    </a>
    <div class='logo'>zebra</div>
    <ul id='nav'>
        <a><li>Home</li></a>
        <a><li>Brands</li></a>
        <a><li>Clothing</li></a>
        <a><li>Footwear</li></a>
        <a><li>Accessories</li></a>
        <a><li>Contact</li></a>
        <a><li>Clearance</li></a>
    </ul>
    <a onclick="" class="cart">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="-467 269 24 24" style="enable-background:new -467 269 24 24;" xml:space="preserve">
            <circle class="st0" cx="-458" cy="290" r="1"/>
            <circle class="st0" cx="-447" cy="290" r="1"/>
            <path class="st1" d="M-466,270h4l2.7,13.4c0.2,1,1,1.6,2,1.6h9.7c1,0,1.8-0.7,2-1.6l1.6-8.4h-17"/>
       </svg>
    </a>
</div>

{% schema %}
    {
        "name": "Navigation Bar",
        "settings": [
            {
                "type" : "checkbox",
                "id" : "something",
                "label" : "Something"
            }
        ]
    }
{% endschema %}