<div class='page-title slogan'>
    {% if section.settings.slogan != blank %}
        <p>{{ section.settings.slogan }}</p>
    {% else %}
        <p>Chesterfield's Premiere Designer Clothes Store</p>
    {% endif %}
</div>

{% schema %}
    {
        "name": "Slogan",
        "settings": [
            {
                "type" : "text",
                "id" : "slogan",
                "label" : "Custom Slogan (Leave blank for default)",
                "default" : "Chesterfield's Premiere Designer Clothes Store"
            }
        ]
    }
{% endschema %}

{%- style -%}
.page-title.slogan {
    margin-bottom: 16px;
}
.page-title.slogan p {
    font-size: 1.3rem;
}
{%- endstyle -%}

{% javascript %}
{% endjavascript %}