.product-details details, .collection-details details {
    border-top: solid 1px #ccc;
  }
.product-details details:last-of-type, .collection-details details:last-of-type {
  border-bottom: solid 1px #ccc;
}
.product-details details[open] .indicator, .collection-details details[open] .indicator {
  transform: rotate(180deg);
}
.product-details summary, .collection-details summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.product-details summary div, .collection-details summary div {
  display: flex;
  align-content: center;
}
.product-details summary div p, .collection-details summary div p {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 100%;
  align-self: center;
  text-transform: uppercase;
}
.product-details summary div svg, .collection-details summary div svg {
  height: 2rem;
  margin-right: 16px;
}
.product-details details .indicator svg, .collection-details details .indicator svg {margin: 0;}
.product-details summary, .collection-details summary {
  padding: 16px;
}