.promo_slider {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: rgb(124, 149, 163);
}

.promo_slider ul {
    width: 100%;
    list-style: none;
    /* overflow: hidden; */
    height: 100%;
    white-space: nowrap;
}

.promo_slider li {
    padding: 0;
    margin: 0;
}

.promo_slider a {
  text-decoration: none;
  color: black;
}

.promo_slider .card {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 32px;
  width: 340px;
  height: 240px;
  margin: auto;
  background-color: #fff;
  z-index: 3;
  z-index: 2;
  overflow: hidden;
}

.promo_slider .card .image {
  height: 190px;
  width: 100%;
  transition: transform .4s;
}

.promo_slider .card .caption {
  background-color: #fff;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo_slider .slide .card:hover .image {
    transform: scale(1.1);
}

.promo_slider .slide .content label {
    transition: background-color .4s;
}

.promo_slider .slide .content label:hover {
    background-color: rgb(255, 255, 255, 0.25);
}

.promo_slider .card .caption .previous, .promo_slider .card .caption .next {
  width: 32px;
  display: flex;
  justify-content: center;
}

.promo_slider .card .caption a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.promo_slider .card .caption p {
  font-family: 'Comfortaa', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: center;
}

.promo_slider .slide {
    opacity: 0;
}

.promo_slider .previous, .promo_slider .next {
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.promo_slider .desktop-only { display: none; }

ul.slides input {
    display: none; 
}

input:checked + .slide {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
    z-index: 3;
}

input:not(:checked) + .slide {
    opacity: 0;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
    z-index: 2;
}

.slider-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    text-align: center;
}

.slider-dots .dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 6px 8px;
}

input:checked + .slide {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input#slide-1:checked ~ .slider-dots label#slide-dot-1,
input#slide-2:checked ~ .slider-dots label#slide-dot-2,
input#slide-3:checked ~ .slider-dots label#slide-dot-3 {
	opacity: 1;
}

.categories-section {
    box-sizing: border-box;
    width: 100%;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: aqua; */
  }

  .categories-section .view-all {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .categories-section .button {
    font-weight: 400;
    /* width: 100%; */
    transition: transform .4s, background-color .4s, border-color .4s;
  }
.categories-section .button:hover {
    transform: scale(1.05);
}

  .categories-section ul {
    margin: 0 10%;
    width: 100%;
    list-style: none;
    overflow-x: auto;
    height: auto;
    white-space: nowrap;
    margin: auto;
    margin-bottom: 4px;
    max-width: 896px;
  }

  .categories-section ul li {
    display: inline-block;
    vertical-align: top;
    width: 80px;
    margin-right: 12px;
  }
  .categories-section ul li img {
    transition: transform .4s;
  }
  .categories-section ul li:hover img {
    transform: scale(0.9);
  }
  .categories-section ul li:hover p {
    color: #4F607B;
  }

.categories-section ul li:last-child {
  margin-right: 0;
}

  .categories-section img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 40px;
  }

  .categories-section ul p {
    display: inline-block;
    width: 80px;
    text-align: center;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    padding-bottom: 8px;
    font-family: 'Comfortaa', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color: black;
  }

  .categories-section ::-webkit-scrollbar {
    height: 8px;
  }
  .categories-section ::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 8px;
  }
  .categories-section ::-webkit-scrollbar-thumb {
    background-color: #CBCBCB;
    border-radius: 8px;
  }
  .categories-section ::-webkit-scrollbar-thumb:hover {
    background: #B5B5B5;
    border-radius: 8px;
  }

  .promo_images {
    width: 100%;
}

.promo_images div[class^="card"], .promo_images .image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
}

.promo_images div[class^="card"] {
    margin-bottom: 8px;
}

.promo_images div[class^="card"]:last-of-type {
    margin-bottom: 0;
}

.promo_images div[class^="card"] img {
    object-fit: cover;
    object-position: top;
}

.promo_images div[class^="card"] img, .promo_images div[class^="card"] .caption {
  transition: transform .4s, background .4s;
}

.promo_images div[class^="card"] .image {
    overflow: hidden;
}

.promo_images div[class^="card"]:hover img {
    transform: scale(1.1);
}
.promo_images div[class^="card"]:hover .caption {
    background-color: rgba(255, 255, 255);
}

.promo_images .caption {
    position: absolute;
    bottom: 0;
    min-width: 180px;
    height: 70px;
    margin: 16px;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.promo_images .caption h3 {
    font-family: 'Comfortaa', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0 16px;
}

.promo_images .caption p {
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
}

.promo_images .caption.left {
    left: 0;
}

.promo_images .caption.right {
    right: 0;
}

.promo_images .caption.final {
    width: calc(100% - 32px);
}

@media (min-width: 800px) {
    .promo_slider {
        height: 368px;
    }
    .promo_slider .card {
        top: 0;
        width: 768px;
        height: 100%;
    }
    .promo_slider .card .image {
        height: 100%;
    }
    .promo_slider .card .caption {
        display: block;
        position: absolute;
        min-width: 416px;
        width: 60%;
        margin: 0 20%;
        bottom: 7.5%;
        background-color: rgba(255,255,255,0.8);
        text-transform: uppercase;
        /* left: 25%; */
    }
    .promo_slider .card .caption p {
        font-size: 1.3rem;
    }
    .promo_slider .card .caption .mobile-only { display: none; }
    .promo_slider .content {
        display: flex;
        justify-content: space-around;
    }
    .promo_slider .desktop-only {
        display: flex;
    }
    .promo_slider .content label {
        height: 100%;
        width: 15%; 
    }

    .promo_images {
        padding: 0 16px;
        box-sizing: border-box;
        width: 100%;
        /* margin: 0 8px; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 4px 8px; 
        grid-template-areas: 
            ". ."
            ". ."
            "card-final card-final"; 
    }
    .card.final {
        grid-area: card-final;
    }
}