.nav_bar {
    height: 4.6rem;
    width: 100%;
    background-color: #1E1E1E;
    display: flex;
    position: fixed;
    right: 0;
    z-index: 2;
}

.nav_bar ul {
    list-style: none;
    transition: .4s;
    background-color: #363636e6;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    color: #fff;
    padding-top: 4.6rem;
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: 300px;
    left: -300px;
}

.nav_bar .menu {
    position: fixed;
    top: 1.3rem;
    left: 1.3rem;
    width: 2rem;
    height: 2rem;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background-color: #fff;
}

.nav_bar .menu_burger {
    position: relative;
    width: 1.4rem;
    height: .2rem;
    background-color: #fff;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    margin: auto;
}
.nav_bar .menu_burger::before, .nav_bar .menu_burger::after {
  content: '';
  position: absolute;
  left: 0;
  width: 1.4rem;
  height: .2rem;
  background-color: #fff;
  border-radius: 5px;
  transition: all .3s ease-in-out;
}
.nav_bar .menu_burger::before {
    transform: translateY(-.5rem);
}
.nav_bar .menu .menu_burger::after {
    transform: translateY(.5rem);
}

.menu.open .menu_burger {
    transform: translateX(-1.5rem);
    background-color: transparent;
}

.menu.open .menu_burger::before {
    transform: rotate(45deg) translate(1.1rem, -1.1rem);
}

.menu.open .menu_burger::after {
    transform: rotate(-45deg) translate(1.1rem, 1.1rem);
}

.nav_bar ul.active {
    left: 0;
}

.nav_bar ul li {
    color: #fff;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 2.5rem;
}

.nav_bar ul li:hover {
    // color: {{ settings.accent_color }};
    background-color: #5a5a5ae6;
    cursor: pointer;
}

.nav_bar .cart {
    position: fixed;
    top: 1.3rem;
    right: 1.5rem;
    width: 2rem;
    height: 2rem;
    // background-color: #fff;
}

.st0{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;}
.st1{stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;}