@font-face {
  font-family: "Comfortaa";
  src: url('Comfortaa.woff') format("woff");
}

.mobile-only {
  display: block;
}

.promo_slider {
  width: 100%;
  height: 300px;
  background-color: rgb(124, 149, 163);
}

.promo_slider .slide {
  position: absolute;
  left: 0;
  top: 46;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.promo_slider a {
  text-decoration: none;
  color: black;
}

.promo_slider .slide .bg_blur {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.promo_slider .slide .bg_blur img {
  width: 150%;
  height: 150%;
  position: relative;
  top: -25%;
  left: -25%;
  filter: blur(25px);
  -webkit-filter: blur(25px);
}

.promo_slider .slide .content {
  position: relative;
  top: -100%;
  width: 100%;
  height: 100%;
}

.promo_slider .card {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 32px;
  width: 340px;
  height: 240px;
  margin: auto;
  background-color: #fff;
}

.promo_slider .card .image {
  background-color: rgb(64, 92, 151);
  height: 190px;
  width: 100%;
}

.promo_slider .card .caption {
  background-color: #fff;
  height: 460px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo_slider .card .caption p {
  text-align: center;
  font-family: 'Comfortaa', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4rem;
}

.slogan {
  background-color: #1E1E1E;
  font-family: 'Comfortaa', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 1.4rem;;
  text-align: center;
  padding: 1rem;
}

.categories-section {
  width: calc(100% - 32px);
  height: 140px;
  margin: 16px;
  background-color: aqua;
}

.button {
  font-family: 'Comfortaa', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  border: solid 2px #1E1E1E;
  background-color: #fff;
  color: #1E1E1E;
  align-self: center;
  width: 224px;
  height: 30px;
}

.dot-separator {
  display: flex;
  justify-content: center;
  /* padding: 16px; */
}

.trending-brands {
  width: calc(100% - 32px);
  height: 200px;
  margin: 16px;
  /* background-color: aqua; */
}

.trending-brands .brands {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto;
}

.trending-brands h2 {
  color: #1E1E1E;
  font-family: 'Comfortaa', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 16px;
}

.trending-brands img {
  object-fit: contain;
  margin-bottom: 8px;
}

.trending-brands .view-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter {
  width: 100%;
  margin: 16px 0;
  background-color: #1E1E1E;
  color: #fff;
}

.newsletter .email, .newsletter .button {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #B6B6B6;
  font-size: 1rem;
  font-weight: 700;
  height: 32px;
  padding: 0;
  margin: 0;
}

.newsletter form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.newsletter div {
  padding-bottom: 24px;
}

.newsletter .email {
  border: solid 2px #fff; 
  background-color: #1E1E1E;
  width: 65%;
}

.newsletter .email::placeholder {
  text-align: center;
}

.newsletter .button {
  border: solid 1px #4F607B; 
  background-color: #4F607B;
  width: 100px;
  letter-spacing: 1px;
}

.newsletter h3, .footer h3 {
  letter-spacing: 0.05rem;
  font-family: 'Comfortaa', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.newsletter h3 {
  padding: 16px 0;
}

.footer h3 {
  color: #1E1E1E;
  padding-bottom: 8px;
}

.footer {
  width: 100%;
}

.footer .section {
  padding: 16px 0;
}

.footer p {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer .contact-us .info {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20.6rem;
  height: auto;
  padding: 8px;
}

.footer .contact-us .info:last-of-type {
  padding-bottom: 0;
}

.footer .contact-us svg {
  width: 1.8rem;
  height: 1.8rem;
}

.footer .contact-us p {
  display: block;
  font-size: 1.4rem;
  padding-left: 8px;
  width: 17.8rem;
  height: auto;
  line-height: 1.6rem;
}

.footer .information .links {
  margin: auto;
  width: 27rem;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.footer .information a {
  display: inline-block;
  padding: 4px 24px;
}

.footer .information li {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

.footer .shop-with-us {
  padding-bottom: 0;
}

.footer .shop-with-us ul {
  display: flex;
  justify-content: center;
}

.footer .shop-with-us li {
  display: inline-block;
  padding: 4px;
}

.footer .closing {
  margin: 0;
  padding-bottom: 16px;
}

.footer .closing p {
  width: 100%;
  display: inline-block;
  margin: 0;
}

.footer .closing p, .footer .closing a {
  text-align: center;
  font-size: 1rem;
  margin: 0;
}