<div class='page_content'>
  {% section 'promo_slider' %}

  <div class='slogan'>
    Chesterfield's Premiere Designer Clothes Store
  </div>

  <div class='categories-section'>
    VIEW ALL CATEGORIES
  </div>

  <div class='dot-separator'>
    <svg height="10" width="54">
      <circle cx="9" cy="5" r="2" fill="black" />
      <circle cx="27" cy="5" r="2" fill="black" />
      <circle cx="45" cy="5" r="2" fill="black" />
    </svg>
  </div>

  {% section 'trending_brands' %}

  {% comment %} <div class='dot-separator'>
    <svg height="10" width="54">
      <circle cx="9" cy="5" r="2" fill="black" />
      <circle cx="27" cy="5" r="2" fill="black" />
      <circle cx="45" cy="5" r="2" fill="black" />
    </svg>
  </div>

  {% section 'promotional_images' %} {% endcomment %}

</div>